<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>shengCong.club</title>
</head>
<body>
<div class="bottomClass" style="margin: 0 auto;width: 100%;height: 80px;line-height: 80px;text-align: center">
  <p>
    <a target="_blank" href="https://beian.miit.gov.cn"
       style="display:inline-block;text-decoration:none;height:20px;line-height:20px;color:#000;">
      <img alt="备案" src="https://www.isoftstone.com/templates/isoftstone/images/beian.png"
           style="float:left;margin-right: 5px">
      苏ICP备2021051454号
    </a>
  </p>
</div>
</body>
</html>