<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>工资批量发送</title>
</head>
<body>
<h1>有点丑将就用吧我要睡了晚安宝~</h1>
<div>
  <input id="employeeSalary4Excel" type="file" class="form-control" style="width: 1000px;"/>
  <br/><br/>
  <input id="sendButton4EmpSal" type="button" style="width: 60px;height: 35px;margin-right: 48px" value="发送"
         class="upload"/>
</div>
<div class="bottomClass" style="margin: 0 auto;width: 100%;height: 80px;line-height: 80px;text-align: center">
  <p>
    <a target="_blank" href="https://beian.miit.gov.cn"
       style="display:inline-block;text-decoration:none;height:20px;line-height:20px;color:#000;">
      <img alt="备案" src="https://www.isoftstone.com/templates/isoftstone/images/beian.png"
           style="float:left;margin-right:
      5px">
      苏ICP备2021051454号
    </a>
  </p>
</div>
<script type="text/javascript" src="/js/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
</body>
</html>